In [172]:
import pandas as pd
import mysql.connector
import plotly as py
import plotly.graph_objs as go
import nautilus.utils as u
import nautilus.queries as q

connection = mysql.connector.connect(host='localhost',
                                             database='datawarehouse',
                                             user='datawarehouse',
                                             password='warehouse08')

In [165]:
df = pd.read_sql('SELECT f_month,f_patients,f_new_patients,f_casuals,f_fidelitzats,f_visits_casuals,f_visits_fidelitzats FROM datawarehouse.dm2_stats_per_month ORDER BY f_month DESC LIMIT 6', connection)

In [159]:
cursor = connection.cursor()
sql = 'SELECT f_month,f_patients,f_new_patients,f_casuals,f_fidelitzats,f_visits_casuals,f_visits_fidelitzats FROM datawarehouse.dm2_stats_per_month ORDER BY f_month DESC LIMIT 6'
cursor.execute(sql)

In [160]:
rows = cursor.fetchall()

In [163]:
for row in rows:
    print(row)

(201905, 8755, 742, 1432, 7682, 1432, 19098)
(201904, 9903, 777, 1584, 8667, 1584, 22704)
(201903, 10060, 762, 1433, 8931, 1433, 23405)
(201902, 9751, 732, 1309, 8730, 1309, 22354)
(201901, 10156, 733, 1261, 9125, 1261, 23885)
(201812, 8559, 576, 1016, 7767, 1016, 17806)

In [87]:
for row in reversed(rows):
    print(row)

(201812, 'Dec', 8559, 576, 1016, 7767, 1016, 17806)
(201901, 'Jan', 10156, 733, 1261, 9125, 1261, 23885)
(201902, 'Feb', 9751, 732, 1309, 8730, 1309, 22354)
(201903, 'Mar', 10060, 762, 1433, 8931, 1433, 23405)
(201904, 'Apr', 9903, 777, 1584, 8667, 1584, 22704)
(201905, 'May', 8755, 742, 1432, 7682, 1432, 19098)

In [166]:
df = df.sort_values(by=['f_month'])
df_transposed = df.T
df_transposed

                           5       4       3       2       1       0
f_month               201812  201901  201902  201903  201904  201905
f_patients              8559   10156    9751   10060    9903    8755
f_new_patients           576     733     732     762     777     742
f_casuals               1016    1261    1309    1433    1584    1432
f_fidelitzats           7767    9125    8730    8931    8667    7682
f_visits_casuals        1016    1261    1309    1433    1584    1432
f_visits_fidelitzats   17806   23885   22354   23405   22704   19098

In [167]:
for row in df_transposed.iterrows():
    print(row.0)

SyntaxError: invalid syntax (<ipython-input-167-ea0aca6320f4>, line 2)

In [169]:
sql = 'SELECT f_month,f_patients,f_new_patients,f_casuals,f_fidelitzats,f_visits_casuals,f_visits_fidelitzats FROM datawarehouse.dm2_stats_per_month ORDER BY f_month DESC LIMIT 6'
df = pd.read_sql(sql, connection)
df = df.sort_values(by=['f_month'])
df = df.T
cols = []
for i in range(0, 6):
    cols.append(str(i))
df.columns = cols
lines = []
line = {}
for index, row in df.iterrows():
    line = {'kpi': index}
    lines.append(line)
    line = {}
print(lines)

[{'kpi': 'f_month'}, {'kpi': 'f_patients'}, {'kpi': 'f_new_patients'}, {'kpi': 'f_casuals'}, {'kpi': 'f_fidelitzats'}, {'kpi': 'f_visits_casuals'}, {'kpi': 'f_visits_fidelitzats'}]

In [175]:
q.get_KPI_general(5)

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')