In [39]:
import pandas as pd
import mysql.connector
import plotly as py
import plotly.graph_objs as go

connection = mysql.connector.connect(host='localhost',
                                             database='datawarehouse',
                                             user='datawarehouse',
                                             password='warehouse08')

In [69]:
df = pd.read_sql('select f_month, CONCAT(f_year, "-", f_monthname) as mesnom, f_nomAgenda, f_count, f_patients from dm1_visits_per_agenda where f_idEspecialitat = 26 group by f_month, CONCAT(f_year, "-", f_monthname), f_nomAgenda', connection)

In [74]:
data = []
for agenda in df['f_nomAgenda'].unique():
    dfAgenda = df[df['f_nomAgenda']==agenda]
    dfAgenda = dfAgenda.sort_values(['f_month'], ascending=[1])
    trace=go.Scatter(x=dfAgenda['mesnom'], y=dfAgenda['f_count'], name=agenda, stackgroup='one')
    data.append(trace)

py.offline.plot(data)

'temp-plot.html'

In [45]:
import plotly
plotly.__version__

'3.8.1'

In [22]:
df[df['f_totalVisits']>50]=50

In [25]:
df[df['f_totalVisits']>50]

Empty DataFrame
Columns: [f_numHistoria, f_totalVisits]
Index: []