In [1]:
import pandas as pd
import mysql.connector

connection = mysql.connector.connect(host='localhost',
                                             database='datawarehouse',
                                             user='datawarehouse',
                                             password='warehouse08')

In [3]:
cursor = connection.cursor()

In [5]:
cursor.execute('SELECT f_numHistoria, f_totalVisits, IF(f_totalVisits=) FROM datawarehouse.dm_first_visit')
rows = cursor.fetchall()

In [16]:
df = pd.read_sql('SELECT f_numHistoria, f_totalVisits FROM datawarehouse.dm_first_visit', connection)

In [22]:
df[df['f_totalVisits']>50]=50

In [25]:
df[df['f_totalVisits']>50]

Empty DataFrame
Columns: [f_numHistoria, f_totalVisits]
Index: []